@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

main {
    @include width-height(100%,100vh);
    scroll-behavior: smooth;
    overflow: scroll;
    scroll-snap-align: center;
    background-color: #E8EBED;
}
