@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

#popup-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 400px;
    height: 70px;
    bottom: 150px;
    background-color: #2F2F2F;
    opacity: 0;
    left: 10px;
    border-radius: 5px;
}

.res-server {
    font-size: 25px;
    color: white;
}

@include breakpoint(mobile-tablet) {
    #popup-alert {
        width: 50%;
        bottom: 130px;
        height: 40px;
    }

    .res-server {
        flex-wrap: wrap;
        font-size: 20px;
    }
}

