@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

.bloc-about {
   // border: solid 2px purple;

        &__text {
            color: #2F2F2F;
            font-size: 20px;
        }

        .img-about {
            border-radius: 5px;
            float: inline-start;
            width: 20%;
            padding: 10px;
            background-color: #D99830;
            margin: 0 10px 10px 10px;
        }
}

@include breakpoint(mobile-tablet) {
    .bloc-about__text {
        font-size: 16px;
    }
}