@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

.bloc-form-contact {
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       // border: solid 2px green;
        height: 80vh;

            &__text {
                font-size: 30px;
                text-align: center;
                //margin-top: 5px;
                margin: 5px;
                padding: 0px;
                //border: solid 1px black;
                height: 80px;
                font-family: 'Oswald', sans-serif;
            }

            &__form-contact {
                display: flex;
                flex-direction: column;
                width: 30%;
                //border: solid 2px black;
                margin: 10px;
                background-color: white;
                -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.41); 
                box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.41);
            }

            &__input {
                border-radius: 5px;
                resize: none;
                outline: none;
                border: none;
                margin: 20px;
                padding: 10px;
                -webkit-box-shadow: inset 0px 0px 9px -5px rgba(0,0,0,0.77); 
                box-shadow: inset 0px 0px 9px -5px rgba(0,0,0,0.77);
                background-color: #E8EBED;
                font-family: 'Oswald', sans-serif;

                    &::placeholder {
                        font-family: 'Oswald', sans-serif;
                    }
            }

            &__btn-send-contact {
                margin: 10px;
                padding: 10px;
                cursor: pointer;
                border: none;
                border-radius: 5px;
                background-color: #2F2F2F;
                color: white;
                font-family: 'Oswald', sans-serif;
            }
}

.fa-paper-plane {
    margin: 5px;
}

@include breakpoint(mobile-tablet) {
    .bloc-form-contact__form-contact {
        width: 80%;
    }

    .bloc-form-contact__text {
        font-size: large;
    }
}