@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

.foot {
    height: 20vh;
    background-color: #2F2F2F;

        h3 {
            color: #D99830;
            padding-top: 15px;
        }

        &__bloc-social {
            display: flex;
            justify-content: center;      
        }

        &__social-img {
            width: 50px;
            color: #E8EBED;
            filter: invert(100%);
        } 

        &__copyright {
            padding-top: 10px;
            margin: 0;
            font-size: 20px;
            text-align: center;
            color: #E8EBED;
            opacity: 0.4;
        }
}

@include breakpoint(mobile-tablet) {
    .foot__social-img {
        width: 40px;
    }

    .foot__copyright {
        font-size: 15px;
    }
}