@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

.bloc-about {
   // border: solid 2px purple;

        &__text {
            //color: #F9DF74;
            color: #2F2F2F;
            font-size: 20px;
        }

        .img-about {
            border-radius: 5px;
            float: inline-start;
            width: 20%;
            padding: 10px;
            //background-color: #A8763E;
            background-color: #2F2F2F;
            margin: 0 10px 10px 10px;
        }
}