@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

.card-learning {
    flex-grow: 1;
    width: 50%;
    height: 50%;

        &__body {
            display: flex;
            justify-content: center;
            align-items: center
        }

        &__items {
            @include display(flex, center, center);
            width: 180px;
            height: 100px;
        }

        &__img {
            width: 50%;
        }
}

@include breakpoint(mobile-tablet) {
    .card-learning {
        @include width-height(100%,300px);
        flex-direction: row;

        &__body {
            flex-wrap: nowrap;
        }

        &__items {
            width: 20%;
            margin: 5px;
            border: solid 1px black;
        }

        &__img {
            width: 80px;
        }
    }
}