@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

#learning {
    flex-grow: 3;
    border: solid 1px black;
    width: 20%;
    height: 50%;

        h3 {
            text-align: center;
            flex-wrap: nowrap;
            margin-top: 25px;
        }

        ul {
            display: flex;
            width: 90%;
            flex-wrap: wrap;

                li {
                    padding: 5px;
                    width: 35%;
                    margin: 5px;
                    background-color: white;
                    border-radius: 10px;
                    height: 80px;
                }

                li:hover {
                    cursor: pointer;
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
                    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
                    transition: 0.5s;
                    transform: scale(1.1);
                }

                li > img {
                    width: 60px;
                }
        }
}

@include breakpoint(mobile-tablet) {
    #learning {
        align-items: center;
    }

    #learning > ul {
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
    }

    #learning > ul > li {
        width: 25%;
    }

    #learning > ul > li > img {
        width: 60px;
    }
}