@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

/*.link-project {
    @include width-height(100%, 100%);
    @include display(flex, center, center);
    position: absolute;
    background-color: rgba(0,0,0,0.44);
    left: 0;
    visibility: hidden;
    border-radius: 5px;

        .link {
            text-align: center;
            width: 30%;
            height: 30px;
            border: none;
            border-radius: 5px;
            background-color: blue;
            color: white;
            margin: 5px;
            text-decoration: none;
        }
}*/
