@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

nav {
    border: solid 1px red;

        ul {
            @include margin-padding(0,0);
            @include display(flex, flex-end, flex-end);
            border: solid 1px black;
            list-style: none;

                li {
                    border: solid 1px black;
                    @include margin-padding(5px,5px);
                }

                a {
                    font-size: 20px;
                    text-decoration: none;
                }
        }

        .fa-bars {
            display: none;
        }
}

@include breakpoint(mobile-tablet) {
    nav > ul > li {
        display: none;
    }

    nav > .fa-bars {
        cursor: pointer;
        font-size: 35px;
        border: solid 1px black;
        @include width-height(auto,auto);
        @include margin-padding(10px,0);
        @include display(flex, flex-end, flex-end);
    }
}