@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

nav {
    border: solid 1px red;
    height: 10%;

        ul {
            @include margin-padding(0,0);
            @include display(flex, flex-end, center);
            list-style: none;
            //border: solid 1px black;
            height: 100%;

                li {
                    border: solid 1px black;
                    @include margin-padding(5px,5px);
                }

                a {
                    font-size: 20px;
                    text-decoration: none;
                }
        }

        .fa-bars {
            display: none;
        }
}

@include breakpoint(mobile-tablet) {
    nav > ul {
        display: none;
    }

    nav > .fa-bars {
        cursor: pointer;
        font-size: 35px;
        //border: solid 1px black;
        //@include width-height(auto,auto);
        @include margin-padding(15px,0);
        @include display(flex, flex-end, center);
    }
}