@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;
@use "../utils/keyframes" as *;

#about {
    @include width-height(100%, 100vh);
    border: solid 2px red;
    background-color: red;
    //clip-path: polygon(0 0, 100% 0, 100% 65%, 0 85%);
    //animation: clip-path-about 2s both;
    flex-wrap: wrap;
    overflow: scroll;
}

@include breakpoint(mobile-tablet) {
    #about {
        animation: none;
    }
}
