@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

#skills {
    @include width-height(100%, 100vh);
    display: flex;
    flex-wrap: wrap;
    
        article {
            @include margin-padding(0,0);
            overflow: hidden;
        }
    
        ul {
            @include margin-padding(0,0);
            @include display(flex, center, center);
            list-style: none;
            border-radius: 10px;
            height: 80%;
            background-color: #1098F7;
        }

        ul > li {
            @include display(flex, center, center);
        }

        ul > li > img {
            width: 100px;
        }
}

@include breakpoint(mobile-tablet) {
    #skills {
        align-items: center;
        flex-direction: column;
        border: solid 2px purple;

        article {
            @include width-height(90%,30%);
            margin: 5px;
        }

        ul {
            max-height: 150px;
            width: 90%;
            overflow-x: auto;
        }

        ul > li {
            width: 50%;
        }

        ul > li > img {
            width: 100px;
        }
    }
}