@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;
@use "../utils/keyframes" as *;

#about {
    @include width-height(100%, 100vh);
    flex-wrap: wrap;
    overflow: scroll;

        h3 {
            color: #2F2F2F;
        }
}

@include breakpoint(mobile-tablet) {
    #about {
        animation: none;
    }
}
