@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

#skills {
    @include width-height(100%, 100vh);
    display: flex;
    flex-wrap: wrap;
    border: solid 2px blue;
    
        article {
            @include margin-padding(0,0);
            display: flex;
            //justify-content: center;
            //align-items: center;
            flex-direction: column;
            //border: solid 2px blue;
        }

        ul {
           // @include width-height(70%,70%);
            position: relative;
            overflow: hidden;
            flex-wrap: wrap;
            //-webkit-box-shadow: 1px 4px 11px 0px rgba(0,0,0,0.58); 
            //box-shadow: 1px 4px 11px 0px rgba(0,0,0,0.58);
            background-color: white;

                li {
                    background-color: white;
                }
        }
}

@include breakpoint(mobile-tablet) {
    #skills {
        flex-direction: column;
        flex-wrap: nowrap;
        border: solid 2px red;
        justify-content: center;
        align-items: center;

            ul {
                @include width-height(90%,100%);
            }        
    }
}
