@use "../utils/mixins" as *;

div {
    @include width-height(100%,100vh);
    background-color: #2F2F2F;
    position: absolute;
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 1;

        .fa-xmark {
            display: flex;
            justify-content: flex-end;
            font-size: 40px;
            cursor: pointer;
            padding: 20px;
            color: white;
        }

        ul {
            padding: 0;

                li {
                    @include width-height(100%,100px);
                    @include display(flex, center, center);
                    cursor: pointer;
                }

                li > a {
                    font-size: 20px;
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                }
        }
}

.active {
    transition: 1s;
    right: 0;
}

.sidemenu-disable {
    transition: 1s;
    right: 100%;
}