@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

.card-stack {
    flex-grow: 1;
    height: 50%;
    width: 100%;
    align-items: center;

        &__body {
            width: 70%;
            display: flex;
            //position: relative;
            justify-content: center;
        }

        &__items {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            margin: 5px;
        }

        &__img {
            width: 60%;
        }
}

@include breakpoint(mobile-tablet) {
    .card-stack {
        height: 400px;

            &__body {
                align-items: center;
                flex-wrap: wrap; 
            }

            &__items {
                width: 15%;
                margin: 6px;
                //border: solid 2px black;
                height: 100px;
            }

            &__img {
                width: 90px;
            }
    }
}