@use "../utils/mixins" as *;
@use "../utils/breakpoint" as *;

#stack {
    @include width-height(70%,50%);
    flex-grow: 8;
    @include display(flex, center,center);
    flex-direction: column;

        ul {
            width: 90%;
            flex-wrap: wrap;

                li {
                    @include width-height(15%,120px);
                    margin: 15px;
                    background-color: white;
                    border-radius: 5px;
                    cursor: pointer;
                }

                li:hover {
                    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
                    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
                    transition: 0.3s;
                    transform: scale(1.1);
                }
        }
}

@include breakpoint(mobile-tablet) {
    #stack {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #stack > ul {
        width: 100%;
    }
}