@mixin display ($display, $just-content, $align-item) {
    display: $display;
    justify-content: $just-content;
    align-items: $align-item;
}

@mixin margin-padding ($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

@mixin width-height ($width, $height) {
    width: $width;
    height: $height;
}

@mixin glassmorph-style {
    //background: rgba(47, 47, 47, 0.77);
    background-color: white;
    border-radius: 16px;
    //box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(10.6px);
    //border: 1px solid rgba(47, 47, 47, 0.53);
} 